*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    scroll-behavior: smooth;
text-decoration: none;
list-style: none;
color: black;
position: relative;

}

:root{
    background-color: #ffffff;
    color: black;
}

.logo{
    height: 24px;
    width: 105px;
    left: 160px;
}
header{
    width: 100%;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
}
.header-icons{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
.navlist{
    display: flex;
   justify-content: space-around;
 

}
.navlist a{
   padding: 10px 25px;
   transition: all 1s ease;


}
/* /* i{
    width: 110px;
    height: 28px;
} */
 
.header-icons i{
    font-size: 32px;
    width: 80px;
    height: 48px;
    transition: all 1s ease;
} 

.header-icons i:hover{
    color: rgb(243, 181, 12)	;
}
.navlist a:hover{
    color: rgb(243, 181, 12)	;
    text-decoration: underline;

}
.orangesofa{
   
width: 1270px;
height: 500px;
left: 95px;

padding-right: 160px;

}

.slide{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;}

.slideshow{
    position: absolute;
    width: 800px;
    /* margin: auto; */
    top: 10px;
    border-radius: 10px;}
    .slideshow ul{
        position: relative;
        width: 900px;
        transition: left 0.5s linear;
        animation: slide .5s infinite;
    }
    
    
.slideshow ul li{
    display: inline-block;
    height: auto;
    float:left;
    width: 800px;
}
.singleimage img{
    /* width: 1120px; */
    width: 104%;
    height: 536px;
}
.singleimage{
    margin: 0 auto;
    padding: 0;
    width: 104%;
/* border: 2px solid black; */
overflow: hidden;
}

    .short{
        /* margin: 40px; */
        
        width: 1440px;
        display: flex;
        justify-content: space-between;
        left: 10px;
       /* border: 2px solid black; */
    }
    .left{padding-left: 10px;
        width:500px ;
    }
    .left p{
        font-size: 45px;
       
    }
    .right{
text-align: center;
        padding-top: 20px;
    }
    .right p{
font-family: 'Courier New', Courier, monospace;
 font-size:15px ;
       font-weight:normal ;
    }

    .foot1{ top: px;
        padding: 30px;
        display: flex;
        justify-content:space-around;
        width: 1400px;
        height: 30px;
        /* background-color: rgb(43, 34, 34) ; */
    }
    .elegant h4{
        font-size: 30px;
     font-family: Arial, Helvetica, sans-serif;
   color: #ffffff;
    }
    .describe p{
        color: #ffffff;
    }
    .navbar a{
        color: #ffffff;
        transition: all;
        transition-duration: 1s;
    }
    .navbar a:hover{font-size: 20px;
        color: rgb(224, 179, 28);
       
    }
    .navbar{
        width: 30%;
        height: 30%;
        display: flex;
        justify-content: space-evenly;
    }

    .myfooter{
        /* display: flex; */
        /* justify-content: center; */
        /* align-items: center; */
        background-color: #141718;
width: 1440px;
margin-left: 10px;
    }
    .foot2{
        display: flex;
        justify-content: space-between;
        /* border-bottom-width: 1px;
        border-bottom-color: #ffffff; */
        margin: 10px;
        padding: 10px;
        left: 50px;
    }
    .foot2 p{
        
        color: #ffffff;
       font-weight: 100;
       font-size: x-small;
       font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .box1{
       display: flex;
        width:50%
       
    }
    .policy{
        width: 20%;
        display: flex;
        justify-content:space-between;
    }
    .policy a{  font-size: small;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        transition: all;
        transition-duration: 1s;
        color: #ffffff;
    }
    .policy a:hover{
       font-size: 15px;
        color: rgb(224, 179, 28);
    }
    .box2{
        color: #ffffff;
        padding-right: 90px;
    }
    .box2 i{
        font-size:40px;
        color: #ffffff;
        transition: all;
        transition-duration: 1s;
    }
    .box2 i:hover{
        font-size: 43px;
        color: rgb(224, 179, 28);
    }
   
  #newsletter{
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
  }
  .newsletter{
    margin-left: 10px;
    width: 1440px;
height: 360px;
padding: 100px 40px;
text-align: center;
gap: 0px;
/* opacity: 0px; */

    background-color: rgb(197, 205, 212);
    background: url(../images/newsletter.png) center;
    background-size: cover;
  }
  .newsletter p{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    font-weight: 15;
    padding: 10px;
  }

  .emailbox{
    height: 35px;
    display: flex;
    justify-content:center;
  }
  .emailbox i{
    background-color: black;

  }
  #button{
    background: #f7f8fa;
width: 60px;
color: rgb(99, 99, 99);
  }
#email{
  
    width: 0px;
    transition: all;
    transition-duration: 1s;

    /* padding: 0 10px; */
}
.emailbox:hover > #email,#email:focus {
    width: 250px;
    padding: 0 10px;
    
}
.blogsection{
    width: 1440px;
height: 657px;
padding: 80px 160px 80px 160px;
gap: 40px;
opacity: 0px;
border: 1px solid grey;
left: 10px;
}
.articles{
    width: 1121px;
    height: 44px;
    display: flex;
    justify-content: space-between;


}
.articleheading{
    width: 47px;
    height: 44px;
}
.morearticles a{
    width: 122px;
    height: 28px;
    /* transition: all;
    transition-duration: .5s;
    transition-timing-function: linear; */
transition: all 0.3s ease 0.3s;
}
.morearticles a:hover{
    font-size: 18px;
    color: rgb(224, 179, 28);
    text-decoration: underline;
   
}
.articles_image{
    width: 1121px;
    height: 413px;
    gap: 25px;

}
.img1,.img2,.img3{
    width: 357px;
    height: 325px;
}
.a1,.a2,.a3{
    width: 352px;
    height: 64px;
    gap: 8px;
    display: flex;
    flex-direction: column;

}
.article1,.article2,.article3{
    width: 357px;
    height: 413px;
    display: flex;
    flex-direction: column;
    
    justify-content: space-around;
}
.articles_image{
    display: flex;

}
#a12 a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:15px ;
    transition: all 0.3s ease 0.3s;
   
    }
    #a12 a:hover{
        font-size: 19px;
        color: rgb(224, 179, 28);
        text-decoration: underline;
    }
    #a22 a {font-size:15px ;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

        transition: all 0.3s ease 0.3s;
       
        }
        #a22 a:hover{text-decoration: underline;
            font-size: 19px;
            color: rgb(224, 179, 28);
        }
        #a32 a {font-size:15px ;
            transition: all 0.3s ease 0.3s;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

            }
            #a32 a:hover{text-decoration: underline;
                font-size: 19px;
                color: rgb(224, 179, 28);
            }

   .banner{
    width: 1440px;
    height: 532px;
    display: flex;

   }
   .bannerimg{
    height: 532px;
    width: 720px;
   }
   .bannercontent{
    background-color: #F3F5F7;
    height: 532px;
    width: 720px;
 

    padding-right: 160px;
    padding-left: 72px;
    gap: 27px;
   }
   .bcontent1{
    width: 200px;
    height: 200px;
    gap: 16px;
   padding-left: 50px;
   padding-top: 70px;
   display: flex;
   flex-direction: column;
   }

   .shopnow{
    width:200px;
    height: 28px;
    padding-left: 50px;
    padding-top: 150px;
    transition: all 0.3s ease 0.3s;
   }
   .shopnow:hover{
    font-size: 25px;
    color: rgb(224, 179, 28);
     text-decoration: underline;

   }
   .bpara1{
    color: blue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   }
   .bpara2{
    width: 452px;
    height: 88px;
    font-size: 40px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.bpara3{
    width: 452px;
    height: 64px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.values{
    padding-top: 20px;
    width: 1440px;
    height: 316px;
    display: flex;
    justify-content: space-around;

}
.v1,.v2,.v3,.v4{
    width: 262px;
    height: 220px;
    background-color:#F3F5F7 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.v1 i,.v2 i,.v3 i,.v4 i{
    padding-left: 30px;
    font-size: 50px;
    color: #56676d;
}
.va{ padding-left: 30px;
    font-size: 20px;
font-family: 'Times New Roman', Times, serif;}
.vb{padding-left: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 15px;
}
.bannergrid
{
    width: 1440px;
    height:600px;
    display: flex;
    justify-content: space-evenly;

}
.bannergrid p{font-size: 40px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.bannergrid a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 20px;
transition-delay: .1s;
transition: all .3s ease .5s;
}

.bannergrid a:hover{
    text-decoration: underline;
    font-size: 24px;
}
.rightgrid{
    width: 548px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 20px;
}
.leftgrid{padding-left: 20px;
    width: 548px;
    height: 600px;
    background:url(../images/cream\ sofa.png);
}
.bedroom{
    width: 548px;
    height: 275px;
    background: url(../drawers.png);
}

.kitchen{
    width: 548px;
    height: 275px;
    background: url(../images/toaster.png);
}

.newarrivals{
    width:1280px ;
    height: 443px;
    gap: 25px;
    left: 60px;
    margin: 0px;
    padding: 0px;
}
.newarrivalsheading{
    width: 1120px;
    height: 88px;
    display: flex;
    justify-content: space-between;
}
.newpara{
    height:10px;
}
.newarrivalsheading p{
font-size: 25px;
}

.newarrivalsheading a{
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.caraousal{
    width: 1280px;
    height: 433px;
}
.newimage{
    background: url(../images/grey\ sofa.png);


}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}
.content{
    padding-left: 0px;
    width: 20%;
    margin: 5px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 20px;
    padding-top: 10px;
    box-shadow: 0 14px 28px rgba(0, 0,0, 0.25) ;
transition: all 0.5s ease 0.5s;
}
.content:hover{
    box-shadow: 0 3px 6px rgba(0, 0, 0, 16);
transform: translate(0px,-8px);
}
.content img{
    width: 200px;
    height: 200px;
    text-align: center;
    display: block;
}
.content p{
    text-align: center;
    padding-top: 0 8px;
}
.content h6{
     font-size: 26px;
     text-align: center;

}
.content ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .article1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
} */
    /* box-shadow: 0px 20px 20px 5px rgba(0, 0, 0, 0, 3); */
/* 


.slideshow ul li{
    display: inline-block;
    height: auto;
    float:left;
    width: 800px;
}
.singleimage img{
    width: 1120px;
    width: 104%;
    height: 536px;
}
.singleimage{
    margin: 0 auto;
    padding: 0;
    width: 800px;

}.singleimage{
    margin: 0 auto;
    padding: 0;
    width: 800px;

}
@keyframmes slide{
    20%{
       left:0px;
    }
    40%{
        left:-800px;
    }
}  */
  /* .container{
    padding: 2rem;

  }
  .slide{
    position: relative;
    max-width: 48rem;
    margin: 0 auto; */

  /* }
  .slider{
    display: flex;

  } */